{% extends 'base.html' %}
{% block title %}Results{% endblock %}
{% block content %}
<div class="row-gap-sm-3" id="title">
    <h1 class="h1-title">Warsaw movie <br>recommendations</h1>
</div>
{% if post|length == 0: %}
    <h4>There are no movies.</h4><h4> Try another day.</h4>
{% else: %}
    <table id='' class="center">
        <thead>
        <th scope="col">{{what_day}}</th> 
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="">{{what_date}}</th>
        </thead>
        <tbody>
            {% for i in post: %}
            <tr class="table-row">
                <th  scope="row"><a class="movie-title" href={{ i['link'] }}>{{ i['title'] }}</a><br><h5>reż.{{ i['director'] }}</h5></th>
                <th><img src="/static/rating-icon.png"> {{ i['rating'] }}</th>
                <th class="movie-time"> {{ i['time'] }}</th>
                {% if i['cinema'] == 'Iluzjon' %}
                    <th><img class="cinema-logo" src="/static/iluzjon-logo.png"></th> 
                {% else: %}
                    <th><img class="cinema-logo" src="/static/amondo-logo.png"></th>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<button id="button" class="btn btn-primary">
    <a href={{url_for('home')}} style="color:inherit"><img src="/static/GoBack-Icon.png" width="24" height="24"></a>
</button>
{% endblock %}

