{% extends 'base.html' %}
{% block title %}Results{% endblock %}
{% block content %}
<div class="row-gap-sm-3" id="title">
    <h1 class="h1-title">Warsaw movie <br>recommendations</h1>
</div>
{% if post|length == 0: %}
    <h4>There are no movies.</h4><h4> Try another day.</h4>
{% else: %}
    <table id='' class="center">
        <thead>
        <th scope="col">TODAY</th> <!-- POWINNO ZMIENIAĆ SIĘ DYNAMICZNIE-->
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="">DATE</th><!-- PdOWINNO ZMIENIAĆ SIĘ DYNAMICZNIE-->
        </thead>
        <tbody>
            {% for i in post: %}
            <tr>
                <th scope="row"><a href={{i['link']}}>{{ i['title'] }}</a></th>
                <th><img src="/static/rating-icon.png"> {{ i['rating'] }}</th>
                <th> {{ i['time'] }}</th>
                {% if i['cinema'] == 'Iluzjon' %}
                    <th><img src="/static/iluzjon-logo.png"></th> <!-- zmienić ['cinema'] żeby wyświetlało w zależności od kina odpowiednie logo -->
                {% else: %}
                    <th><img src="/static/amondo-logo.png"></th>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<button id="button" class="btn btn-primary">
    <a href={{url_for('front')}} style="color:inherit"><img src="/static/GoBack-Icon.png" width="24" height="24"></a>
</button>
{% endblock %}

